@font-face {
  font-family: 'Helvetica Neue';
  src: url(/mclaren/assets/HelveticaNeue.ttf) format('opentype');
}

body {
  font-family: "Helvetica Neue", "SansSerif";
}

input {
  outline: none;
}

input[type="file"] {
    display: none;
}

#title {
  color: white;
  font-size: 20px;
  font-family: "Helvetica Neue", "SansSerif";
}

.row {
  margin: inherit;
}

.pointer {
  cursor: pointer;
}

.no-pad-left {
  padding-left: 0;
}

.no-pad-right {
  padding-right: 0;
}

.rotated {
  transform: rotate(180deg);
}

.btn {
  .fa {
    margin-right: 7px;
  }
}

.btn:hover {
  color: inherit;
}

.btn-config {
  border-radius: 4px;
  color: #B69363;
  width: 200px;
  height: 40px;
  font-size: 13px;
  font-weight: 500;
  font-family: HelveticaNeue;
  position: relative;
  background: #FFF2E2;
  padding-top: 10px;
  letter-spacing: 1px;
  img {
    height: 24px;
    margin-right: 3px;
    margin-top: -3px;
  }
}

.input-search {
  font-size: 14px;
  //width: 330px;
  //height: 40px;
  text-indent: 30px;
}

label {
  //font-weight: 500;
  color: #697A7A;
}

.analysis{
  margin-bottom: 10px;
}

.select{
  cursor: pointer;
}

.modal-content {
  border-radius: 4px;
  padding: 30px 40px;
  .modal-header {
    padding: 0;
    padding-bottom: 15px;
    color: #090909;
  }
  .modal-body {
    // width: 85%;
    padding: 15px 0;
    color: #697A7A;
    .form-group {
      margin-bottom: 25px;
      .control-label {
        margin-bottom: 13px;
      }
    }
  }
}

.border-btm {
  background: #F0F0F0;
  width: 100%;
  height: 2px;
  margin-top: -7px;
  //margin-left: 15px;
  margin-bottom: 20px;
}

/********************************/

.header-container {
  height: 60px;
  background-color: #1D2B58;
  box-shadow: 0 2px 4px 0 rgba(69, 69, 69, 0.5);
  position: relative;
  z-index: 1;
  .nav-colored {
    background-color: transparent;
    padding-top: 15px;
    display: inline-block;
  }
  .menu-toggle {
    margin-top: 20px;
    margin-right: 25px;
    cursor: pointer;
  }
  .header {
    background-color: transparent;
    padding: 20px 0px 15px;
    ul li {
      opacity: 0.6;
    }
    .active {
      opacity: 1;
    }
  }
}

/*//////////*/
.dash-search {
  background-color: #fafafa;
  padding: 15px 40px 15px 0px;
  input {
    // padding-top:10px;
    font-family: HelveticaNeue-Medium;
    background-color: #fafafa;
    font-size: 16px;
    color: rgba(9, 9, 9, 0.50);
    letter-spacing: 0;
    width: 80%;
    margin-left: 10px;
    border: none;
  }
}

#search {
  padding-left: 0px;
}
