#theGrid {
  border: 1px solid rgba(9, 9, 9, 0.10);
  border-radius: 4px;
  width: 100%;
  min-height: 530px;
  padding: 0;
  position: relative;

  table {
    width: 100%;
    margin-bottom: 45px;
    th {
      border-bottom: 1px solid rgba(9, 9, 9, 0.10);
      padding: 10px 15px 0;
      .lbl {
        font-family: HelveticaNeue-Medium;
        font-size: 14px;
        color: rgba(9, 9, 9, 0.70);
        font-weight: 500;
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
      }
      input {
        border: 1px solid rgba(9, 9, 9, 0.15);
        border-radius: 4px;
        max-width: 283px;
        height: 35px;
      }
    }
    td {
      padding: 10px 15px;
      max-width: 270px;
    }
  }

  .paging {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgba(9, 9, 9, 0.15);
    padding: 0 15px;
    nav {
      display: inline-block;
    }
    .pagination {
      margin: 0;
      li > a {
        border: none;
        font-size: 14px;
        color: #090909;
      }
      .active > a {
        background: none;
        color: #87B7B6;
        border-top: 2px solid #87B7B6;
        margin-top: -2px;
      }
    }
  }
}
