<div class="modal-header">
    <h3 class="modal-title" id="modal-title">
        {{vm.patient.name}}
        <img src="assets/icons/close.svg" style="height: 15px; margin-top: 10px" class="pull-right pointer"
             ng-click="modal.dismiss()"
             alt="">
    </h3>
</div>
<div class="modal-body" id="modal-body">
    
    <div class="row">
        <div class="col-md-4">
            <ul>
                <li>
                    Weight (kg) : {{vm.patient.weightKg}}
                </li>
                <li>
                    Height (cm) : {{vm.patient.heightCm}}
                </li>
                <li>
                    BMI : {{vm.patient.bmi}}
                </li>

            </ul>

            <div class="analysis">
                <label>Patient Summary Activity</label>
                <div ng-repeat="summary in vm.patient.summary">
                    {{summary.activity}} : {{summary.minutes}} mins 
                </div>
            </div>
            
            <div class="analysis">
                <label>Analysis</label>
                <div>
                    Total Moderate Activity Total : {{vm.moderateTotal}} minutes
                </div>
                <div>
                    Total Vigorous Activity Total : {{vm.vigorousTotal}} minutes
                </div>
                <div>
                    Total Mixed Activity Total : {{vm.moderateTotal}} minutes of moderate activity and {{vm.vigorousTotal}} minutes of vigorous activity
                </div>
            </div>
            
            <div class="analysis">
                <label>Result</label>
                <div>
                    {{vm.resultText}}
                </div>
            </div>
            
        </div>
        <div class="col-md-8">
             <canvas id="doughnut" class="chart chart-doughnut" chart-data="vm.data" chart-labels="vm.labels" chart-options="vm.chartOptions" chart-dataset-override="vm.dataset">
            </canvas> 
        </div>
    </div>

   
    
</div>